.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h1{
  color: var(--color-secondary);
  font-size: 5rem;
  padding: 20px 0;
  margin: 0 0;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
}
