@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap");
:root {
  --bg-dark: black;
  --color-primary-light: white;
  --color-secondary: rgb(157 134 233);
  --font-family-main: "Karla", sans-serif;
  --font-family-heading: "Rubik", sans-serif;
}
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-family-main);
  padding: 0;
  background-color: var(--bg-dark);
  font-size: 18px;
  color: var(--color-primary-light);
  line-height: 1.5;
}
  

h1 {
  font-family: var(--font-family-heading);
}
main {
  min-height: 70vh;
}
html::-webkit-scrollbar {
  display: none;
}
span {
  color: var(--color-secondary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
