.item1{
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 25em;
}
.item2{
    margin: 2vh;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25em;
}
.home {
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
