.navlayout {
  position: sticky;
  top: 0px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark);
}
.nav {
  height: calc(40px + 2rem);
  display: flex;
  margin-left: 20px;
  justify-content: flex-end;
  align-items: center;
}
.nav a {
  padding: 1rem 0px;
  margin-right: 20px;
  color: var(--color-primary);
  text-decoration: none;
}
.nav svg {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.home {
  display: flex;
  align-items: center;
}
.toggle {
  display: flex;
  align-items: center;
}
.nav a:hover {
  background: var(--color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 500px) {
  .nav svg {
    display: none;
    visibility: hidden;
  }
}
