.nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: calc(40px + 2rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-dark);
}
.nav a {
  padding: 1rem 0px;
  margin-right: 20px;
  color: var(--color-primary);
  text-decoration: none;
}
.nav a:hover {
  background: rgb(157 134 233);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
