.upper {
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;
  margin-bottom: 1em;
}
.upper h2 {
  cursor: pointer;
}
.upper h2:hover {
  cursor: pointer;
  background-image: linear-gradient(
    90deg,
    rgb(202, 168, 106) 0%,
    rgb(215, 223, 110) 90%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.main h1 {
  align-self: center;
  color: var(--color-secondary);
  font-size: 90px;
  padding: 20px 0;
  margin: 0px;
}
.main h3 {
  font-weight: bold;
}

.li {
  list-style: none;
  padding: 0px;
}

.upper ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 768px) {
  .upper {
    height: fit-content;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .upper ul li {
    padding-left: 0px;
    padding-right: 0.4em;
  }
}
.upper ul li {
  padding-left: 0.4em;
}
.upper ul span {
  font-size: 80%;
  white-space: nowrap;
  border-radius: 0.2em;
  padding: 0px 10px;
  color: black;
  background: var(--color-secondary);
}
.project video {
  border: solid black 0.1em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
}
