.Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
